@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color: #222;
    list-style: none;
    /* Caixa delimitadora */
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

a, p {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

/* Info */

.info-bg {
    padding: 10px;
    background-color: #122ab2;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

/* Menu */

.menu-bg {
    padding: 15px;
    background-color: #2c70ff;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.menu-logo {
    font-weight: 700;
    font-size: 2.25em;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav li a {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
}

.menu-nav li a:hover {
    color: #122ab2;
}

/* Introdução */

.introducao {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    font-size: 3em;
    line-height: 1;
}

/* Sobre */

.sobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    border-top: solid 2px #122ab2;
    border-bottom: solid 2px #122ab2;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info p {
    margin-top: 1.5em;
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Produtos */

.produtos { 
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1 {
    margin: 0 10px 60px 10px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
    border-top: solid 8px;
}

.produtos-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.purple {
    color: #ae81ff;
}

.pink {
    color: #f9265e;
}

.blue {
    color: #66d9eb;
}

/* Preços */

.preco {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 60px;
    margin: 0 auto;
}

.preco-item {
    flex: 1 1 260px;
    padding: 20px;
    margin: 10px auto;
    max-width: 300px;
}

.preco-item h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #a4a4a4;
}

.preco-item span {
    display: block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item li {
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    margin: 20px auto;
    color: #a4a4a4;
}

.preco-item li::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2c70ff;
}

.preco-item a {
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25em;
    padding: 15px 0;
    color: #222222;
    border: solid 5px #222;
}

@media (max-width: 800px) {
    .preco {
        padding: 0 10px;
    }
}

/* Qualidade */

.qualidade {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.qualidade-item {
    flex: 1 1 300px;
    padding: 10px;
    margin: 10px 10px 0 0;
}

.qualidade-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
    color: #a4a4a4;
}

.qualidade-item h2::before {
    content:'';
    display: inline-block;
    height: 30px;
    padding-right: 10px;
    border-left: solid 8px red;
}

.qualidade-item p {
    color: #222;
    font-size: 1.25rem;
}

/* Newsletter */

.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 960px;
    margin: 100px auto;
}

.newsletter-info {
    flex: 1 1 100px; 
}

.newsletter-info h1 {
    color: #a4a4a4;
}

.newsletter-info p {
    color: #7c7c7c;
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 100px;
    background-color: #2c70ff;
}

.newsletter-form input {
    font-style: italic;
    font-size: 1.25em;
    margin: 3px;
    padding: 10px;
}

.newsletter-form button {
    padding: 10px;
    font-size: 2.25em;
    text-transform: uppercase;
    color: white;
    background-color: #2c70ff;
    border: none;
    cursor: pointer;
}


/* Footer */

.footer {
    padding: 60px;
    text-align: center;
    font-size: 3em;
    background-color: #2c70ff;
}